body {
  background-color: #212529;
  color: whitesmoke;
}

.list-group-item {
  background-color: #212529;
  color: whitesmoke;
}

.pelicula-detalle {
  color: whitesmoke;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(121, 121, 121, 0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none; /* Oculto por defecto */
}

.pelicula-detalle.mostrar {
  display: block; /* Visible cuando se agrega la clase 'mostrar' */
}

#cerrarDetalle {
  float: right;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
}
